<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>64583096993-7s3revmgqk9gqbqp5j5nk9v4um4qqt6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64583096993-7s3revmgqk9gqbqp5j5nk9v4um4qqt6t</string>
	<key>API_KEY</key>
	<string>AIzaSyAe_4Yhw0lsOwn1un2FfzIJ26X-EIS1ydk</string>
	<key>GCM_SENDER_ID</key>
	<string>64583096993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bawp.fb.setup.firebaseSetup</string>
	<key>PROJECT_ID</key>
	<string>flutter-intro-setup</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-intro-setup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64583096993:ios:8a2155a451619331</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-intro-setup.firebaseio.com</string>
</dict>
</plist>